.home-wrapper {
    display: flex;
    flex-direction: column; 
  }

.navbar-wrapper {
  background-color: blanchedalmond;
  padding: 5px;
}

.add-wrapper {
  margin: 40px
}

.nav-form {
  margin-right: 20px;
}
.search-bar {
  margin: 0 5px 0 30px;
  width: fit-content;
  float: right;
}

button {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  margin: 0 20px;
}

h2 {
  margin: 10px 40px;
}

.movie-list {
  display: flex;
}

.movie-list  > button {
  margin-right: 20px;
}